# Flutter & Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
pubspec.lock

# Build folders
build/
.gradle/
*.iml

# IDE
.idea/
.vscode/
*.swp
*.swo

# Temporary files
praktikum_flutter/temp_codelab_state/
